/* RESPONSIVE */

@media only screen and (min-width : 768px) and (max-width : 1020px) {

    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 1020;
    }
    

    .container {
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
    }
    
   

    .slider {
        width: 100%;
        max-width: 1020px;
        height: 100%;
        max-height: 445px;
        background-color: #f06c64;
        display: flex;
        overflow: hidden;
    
    }



    .chev {
        height: 100%;
        max-height: 452px;
    }

    .chev__left {
        z-index: 100000;
        
        margin: 214px 0px 209px 30px;
       
    }

    .chev__right {
        z-index: 100000;
        margin-right: 40px;
        margin: 214px 26px 209px 0px;
    }

    #second__slide {
        max-width: 768px;
    
    }

    .iphone__vertical {
        margin: 57px 43px 58px 0px;
        cursor: pointer;
        padding-right: 10px ;
    }
    
    .phone__vertical {
        width: 180px;
        height: 365px;
        margin: 23px 0px 23px 10px;
        
    }

    .phone__horisotal {
        width: 363px;
        height: 181px;
    }

    .blue__slide {
        max-width: 768px;
        padding-top: 9.4%;
    }


    .black__vertical__none{
        width: 143px;
        height: 256px;
        display: block;
        position: absolute;
        right: 68%;
        top: 28%;
    }
    
    .black__vertical{
        
        display: none;
        position: absolute;
        right: 69.5%;
        top: 28%;
    }

    .black__horisontal__none{
        display: block;
        position: absolute;
        top: 36.2%;
        left: 48%;
        width: 252px;
        height: 143px;
    }



    h2 {
        padding: 39px 40px 0px;
        font-size: 30px;
    }

    .paragraph {
        font-size: 18px;
    }


    .services_container {
        display: flex;
        flex-wrap: wrap;
    }
   

    .services__list {
        margin: 40px 40px 30px 41px;
    }

    .services__item.second__item {
        margin: 10px 3px 0px 0px;
    }
    
    .services__item {
       margin: 10px 3px 10px 0px; 
    }

    .services__text {
        margin-left: 10px;
    }



    .portfolio {
        max-width: 940px;
        margin: 0px 40px;
    }
    .paragraph__2 {
        max-width: 940px;
    }

    .pictures {
        justify-content: start;
        max-height: 794px;
        width: 940px;
    }
    .pic {
        max-width: 216px;
        margin: 0px 2% 2% 0px;
    }


 
 
    .about {
        width: 100%;
    margin: 0 auto;
    }

    .people {
        justify-content: space-between;
        margin-top: 33px;
    }

    .person__card {
        width: 30%;
        
    }

    .person_avatar {
        width: 100%;
        margin: 0px 1%;
    }
   

    .people__description {
        display: flex;
        justify-content: space-between;
        
        padding-right: 25px;
        margin: 19px 0px 64px 40px;
}

    .h1__3 {
        margin: 0px 0px 0px 40px;
    }

    .quote {
        margin: 0px 40px;
    }

    .input {
        min-width: 442px;
        width: 50%;
        margin: 44px 10px 26px 40px;
    }
    .input__1 {
        width: 71.5%;
        min-width: 442px;
    }

    #describe {
        min-width: 442px;
        width: 71.5%;
    }

    .contact {
        min-width: 240px;
        width: 50%;
    }
}



@media only screen and (min-width : 375px) and (max-width :  767px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 768;
    }
    

    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
       
    }

    .h__1 {
        margin: 10px auto 50px;
        padding-top: 11%;
    }

    .dropdown_img {
        
        margin: 25px 20px 0px 20px;
        
    }

    


    .menu {
        z-index: 103000;
    }


    .dropdown {
        
        padding-top: 160px;
        flex-direction: column;
        display: flex;
        position: absolute;
    }

    .dropdown_head {
        display: flex;
        margin-top: 30px;
    }

    .dropdown_child {
        display: block;
        visibility: hidden;
        
        
    }

    .dropdown:hover .dropdown_child 

     { background-color: #2d303a;
        visibility: visible;
        display: block;
        padding: 0px 130px 35px 50px;
        width: 120px;
    }

    .dropdown:hover .dropdown_img {
        transform: rotate(90deg);
        transition: linear 0.5s;
    }



    .navigation {
     
       
        display: none;
        
    }

    .phone__vertical {
        width: 88px;
        
    }

    .phone__horisotal {
        width: 175px;
    }

    .black__horisontal__none {
        width: 124px;
        height: 70px;
        display: block;
        position: absolute;
        top: 24.8%;
        left: 47.3%;
    }
    .slider
     {
        height: 220px;
    }

    .chev {
        height: 220px;
    }

    .chev__left,
    .chev__right {
        margin: 10px;
    }

    .iphone__vertical {
        margin: 57px 26px 58px 0px;
    }

    .black__vertical__none {
        width: 70px;
        height: 123px;
        display: block;
        position: absolute;
        right: 69.1%;
        top: 21%;
    }

    #second__slide {
        padding-top: 380px;
        max-width: 375px;
    }

    .blue__slide {
        width: 100%;
        max-width: 767px;
       
    }

    h2 {
        padding: 25px 0px 0px 30px;
    }

    .paragraph  {
        margin: 17px 30px 0px 30px;
        text-align: left;
    }
    
    .services__item.second__item {
        margin: 0px;
    }

    .services__text {
        margin-left: 10px;
    }

    .flex__container {
        display: flex;
        flex-direction: column;
    }


    .portfolio {
        width: 90%;
        max-width: 375px;
       padding-left: 30px;
    }


    .about {
        width: 80%;
        margin: 0 40px;
    }
    .paragraph__2 {
        margin: 0 0 20px 0;
        width: 315px;
    }

    .paragraph__3 {
        width: 315px;
    }

    .pictures {
        justify-content: start;
        max-height: 544px;
    }

    .pic {
        width: 151px;
        margin: 0px 3% 3% 0px;
    }
    


    .content {
        width: 80%;
        margin: 0 40px;
    }

    .input {
        min-width: 315px;
        width: 50%;
       
    }

    .input__1 {
        width: 71.5%;
        min-width: 315px;
    }

    #describe {
        width: 71.5%;
        min-width: 315px;
    }

    .button {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .footer__social {
        margin: 22px auto;
    }


    #message__block {
        margin: 400px 10px 0px;
    }
}


@media only screen and (min-width : 320px) and (max-width :  374px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 320px;
    }

    .container {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
       
    }

    .h__1 {
        margin: 10px auto 50px;
        padding-top: 11%;
    }

    .dropdown_img {
        
        margin: 25px 20px 20px 20px;
        
    }

    


    .menu {
        z-index: 103000;
    }


    .dropdown {
       
        padding-top: 160px;
        flex-direction: column;
        display: flex;
        position: absolute;
    }

    .dropdown_head {
        display: flex;
        margin-top: 30px;
    }

    .dropdown_child {
        display: block;
        visibility: hidden;
        
        
    }

    .dropdown:hover .dropdown_child 

     { background-color: #2d303a;
        width: 120px;
        visibility: visible;
        display: block;
        padding: 0px 130px 35px 50px;
    }

    .dropdown:hover .dropdown_img {
        transform: rotate(90deg);
        transition: linear 0.5s;
    }



    .navigation {
     
       
        display: none;
        
    }

    .phone__vertical {
        width: 80px;
        
    }

    .phone__horisotal {
        width: 160px;
    }

    .black__horisontal__none {
        width: 124px;
        height: 70px;
        display: block;
        position: absolute;
        top: 24.8%;
        left: 47.3%;
    }
    .slider
     {
        height: 220px;
    }

    .chev {
        height: 220px;
    }

    .chev__left,
    .chev__right {
        margin: 10px;
    }

    .iphone__vertical {
        margin: 57px 6px 58px 0px;
    }

    .black__vertical__none {
        width: 70px;
        height: 123px;
        display: block;
        position: absolute;
        right: 69.1%;
        top: 21%;
    }

    #second__slide {
        padding-top: 410px;
    max-width: 320px;
    }

    .blue__slide {
        width: 100%;
        max-width: 767px;
       
    }

    h2 {
        padding: 25px 0px 0px 30px;
    }

    .paragraph  {
        margin: 17px 30px 0px 30px;
        text-align: left;
    }
    
    .services__item.second__item {
        margin: 0px;
    }

    .services__text {
        margin-left: 10px;
    }

    .services__title_text {
        margin: 0px 30px 32px 10px;
    }

    .flex__container {
        display: flex;
        flex-direction: column;
    }


    .portfolio {
        width: 90%;
        max-width: 375px;
       padding-left: 30px;
    }


    .about {
        width: 80%;
        margin: 0 40px;
    }
    .paragraph__2 {
        margin: 0 0 20px 0;
        width: 250px;
    }

    .paragraph__3 {
         width: 250px;;
    }

    .person__card {
        max-width: 250px;
    }
    .person_avatar {
        max-width: 250px;
    }

    .pictures {
        justify-content: start;
        max-height: 544px;
    }

    .pic {
        width: 125px;
        margin: 0px 3% 3% 0px;
    }
   

    .content {
        width: 80%;
        margin: 0 40px;
    }

    .input {
        min-width: 250px;
        width: 50%;
       
    }

    .input__1 {
        width: 100%;
        min-width: 31px;
    }

    #describe {
        width: 100%;
        min-width: 31px;
    }

    .button {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .footer__social {
        margin: 22px auto;
    }


    #message__block {
        margin: 400px 10px 0px;
    }
}