/* RESPONSIVE */

@media only screen and (min-width : 768px) and (max-width : 1020px) {

   
    
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    

    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
    

    .slider {
        width: 100%;
        max-width: 768px;
        height: 100%;
        max-height: 452px;
        background-color: #f06c64;
        display: flex;
        overflow: hidden;
    
    }



    .chev {
        height: 100%;
        max-height: 452px;
    }

    .chev__left {
        z-index: 100000;
        
        margin: 214px 0px 209px 30px;
       
    }

    .chev__right {
        z-index: 100000;
        margin-right: 40px;
        margin: 214px 26px 209px 0px;
    }

    #second__slide {
        max-width: 768px;
    
    }

    .iphone__vertical {
        margin: 57px 43px 58px 0px;
        cursor: pointer;
        padding-right: 10px ;
    }
    
    .phone__vertical {
        width: 180px;
        height: 365px;
        margin: 23px 0px 23px 10px;
        
    }

    .phone__horisotal {
        width: 363px;
        height: 181px;
    }

    .blue__slide {
        max-width: 768px;
    }


    .black__vertical__none{
        width: 143px;
        height: 256px;
        display: block;
        position: absolute;
        right: 69.5%;
        top: 28%;
    }
    
    .black__vertical{
        
        display: none;
        position: absolute;
        right: 69.5%;
        top: 28%;
    }

    .black__horisontal__none{
        display: block;
        position: absolute;
        top: 42.5%;
        left: 47.6%;
        width: 252px;
        height: 143px;
    }
    
}
