/* RESPONSIVE */

@media only screen and (min-width : 768px) and (max-width : 1020px) {

    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 1020;
    }
    

    .container {
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
    }
    
   

    .slider {
        width: 100%;
        max-width: 1020px;
        height: 100%;
        max-height: 445px;
        background-color: #f06c64;
        display: flex;
        overflow: hidden;
    
    }



    .chev {
        height: 100%;
        max-height: 452px;
    }

    .chev__left {
        z-index: 100000;
        
        margin: 214px 0px 209px 30px;
       
    }

    .chev__right {
        z-index: 100000;
        margin-right: 40px;
        margin: 214px 26px 209px 0px;
    }

    #second__slide {
        max-width: 768px;
    
    }

    .iphone__vertical {
        margin: 57px 43px 58px 0px;
        cursor: pointer;
        padding-right: 10px ;
    }
    
    .phone__vertical {
        width: 180px;
        height: 365px;
        margin: 23px 0px 23px 10px;
        
    }

    .phone__horisotal {
        width: 363px;
        height: 181px;
    }

    .blue__slide {
        max-width: 768px;
        padding-top: 9.4%;
    }


    .black__vertical__none{
        width: 143px;
        height: 256px;
        display: block;
        position: absolute;
        right: 68%;
        top: 28%;
    }
    
    .black__vertical{
        
        display: none;
        position: absolute;
        right: 69.5%;
        top: 28%;
    }

    .black__horisontal__none{
        display: block;
        position: absolute;
        top: 35.8%;
        left: 48%;
        width: 252px;
        height: 143px;
    }



    h2 {
        padding: 39px 40px 0px;
        font-size: 30px;
    }

    .paragraph {
        font-size: 18px;
    }


    .services_container {
        display: flex;
        flex-wrap: wrap;
    }
   

    .services__list {
        margin: 40px 40px 30px 41px;
    }

    .services__item.second__item {
        margin: 10px 33px 0px 0px;
    }
    
    .services__item {
       margin: 10px 33px 10px 0px; 
    }

    .services__text {
        margin-left: 10px;
    }



    .portfolio {
        max-width: 728px;
        margin: 0px 40px;
    }

    .pictures {
        justify-content: start;
        max-height: 794px;
    }
    .pic {
        max-width: 216px;
        margin: 0px 2% 2% 0px;
    }


 
 
    .about {
        margin-left: 40px;
        max-width: 688px;
    }

    .people {
        justify-content: start;
        margin-top: 33px;
    }

    .person__card {
        max-width: 220px;
        margin-right: 7px;
    }

    .person_avatar {
        width: 218px;
        margin: 0px 1%;
    }
   

    .people__description {
        display: flex;
        justify-content: space-between;
        
        padding-right: 25px;
        margin: 19px 0px 64px 40px;
}

    .h1__3 {
        margin: 0px 0px 0px 40px;
    }

    .quote {
        margin: 0px 40px;
    }

    .input {
        min-width: 442px;
        width: 50%;
        margin: 44px 10px 26px 40px;
    }
    .input__1 {
        width: 71.5%;
        min-width: 442px;
    }

    #describe {
        min-width: 442px;
        width: 71.5%;
    }

    .contact {
        min-width: 240px;
        width: 50%;
    }
}



@media only screen and (min-width : 375px) and (max-width :  767px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 768;
    }
    

    .container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }



    .navigation {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        margin: 45px 30px 40px;
        flex-direction: column;
    }

    .phone__vertical {
        width: 88px;
        
    }

    .phone__horisotal {
        width: 178px;
    }

    .slider
     {
        height: 220px;
    }

    .chev {
        height: 220px;
    }

    .chev__left,
    .chev__right {
        margin: 10px;
    }

    .iphone__vertical {
        margin: 57px 26px 58px 0px;
    }

    #second__slide {
        padding-top: 380px;
        max-width: 375px;
    }

    .blue__slide {
        width: 100%;
        max-width: 767px;
       
    }

    h2 {
        padding: 25px 0px 0px 30px;
    }

    .paragraph  {
        margin: 17px 30px 0px 30px;
        text-align: left;
    }
    
    .services__item.second__item {
        margin: 0px;
    }

    .services__text {
        margin-left: 10px;
    }

    .flex__container {
        display: flex;
        flex-direction: column;
    }


    .portfolio {
        width: 90%;
        max-width: 375px;
       padding-left: 30px;
    }


    .about {
        width: 80%;
        margin: 0 40px;
    }
    .paragraph__2 {
        margin: 0;
        width: 315px;
    }

    .paragraph__3 {
        width: 315px;
    }

    .pictures {
        justify-content: start;
        max-height: 544px;
    }

    .pic {
        max-width: 151px;
        margin: 0px 3% 3% 0px;
    }
    


    .content {
        width: 80%;
        margin: 0 40px;
    }

    .input {
        min-width: 315px;
        width: 50%;
       
    }

    .input__1 {
        width: 71.5%;
        min-width: 315px;
    }

    #describe {
        width: 71.5%;
        min-width: 315px;
    }

    .button {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .footer__social {
        margin: 22px auto;
    }
}